<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Matérias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <form method="POST">
            <input type="text" name="nome" value="{{ materia[1] }}" required>
            <button type="submit">Salvar</button>
        </form>
        <br>
        <a href="/materias">Voltar</a>
    </div>
</body>

</html>