<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>StudyTrack</title>
    <!-- Link para o arquivo CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- Cabecalho -->
    <header>
        <h1>StudyTrack</h1>
    </header>
    <!-- Conteúdo principal -->
    <div class="container">
        <h2>Bem-vinda!</h2>
        <p>Organize seus estudos de forma simples.</p>

        <!-- Botão inicial -->
        <a href="/materias">
            <button>Começar</button>
        </a>
    </div>
</body>

</html>